/* Add location link window to google map
change home button color */


body {
  background-color: coral;
  font-family: 'Arvo', serif;
}

h1 {
  font-size: 50px;
  font-family: 'Vidaloka', serif;
  text-align: center;
  margin-top: 5%;
}

h2 {
  text-align: center;
  margin-bottom: 5%;
}

li {
  display:inline-block;
  width: 20%;
  margin-bottom: 3%;
}

li:first-child {
  margin-left: 11%;
}


.button {
  background-color: mediumaquamarine;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(167, 209, 195);
  color: white;
}

#cookiePic {
  background-color: mediumaquamarine;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  margin: 10px;
  margin-left: 3%;
  float: left;
}

article {
  background-color: rgb(235, 235, 114);
  border-radius: 10px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 3%;
  margin-left: 49%;
  margin-bottom: 3%;
  margin-top:1%;
  line-height: 1.5;
}

#ourInfo {
  padding: 1%;
  margin-right: 3%;
  margin-left: 49%;
  margin-bottom: 3%;
  margin-top:1%;
  line-height: 1.5;
}

#hourOfOp {
  text-align: center;
  margin-right: 3%;
}

#salmonPic {
  width: 30%;
}

#plusSign {
  font-size: 50px;
  display: inline-block;
}

#otherIngredient {
  width: 15%;
  display: inline-block; 
  border-radius: 20px;
}

br {
  line-height: 1.5;
}

/* --------------------------------------------Sales CSS--------------------------------------------------- */


#sales {
  font-family: 'Cabin', sans-serif;
  line-height: 2;
  width: 100%;
}

table {
  text-align:center;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td, tr {
  border: 2px solid white;
}

#grandTotal {
  background-color: yellow;
}

#tosserNeeded {
  background-color: mediumseagreen;
}