

body {
  background-color: #fb9a93;
  font-family: 'Arvo', serif;
  color: #e91133;
  font-size: 16px;
}

/* --------------------------------------------Header--------------------------------------------------- */

header div {
  width: fit-content;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

header div:hover {
  border-radius: 10px;
  background-color: #fcaaa4;
}

header div h1 {
  font-size: 50px;
  font-family: 'Vidaloka', serif;
}

header div h2 {
  line-height: 1.5;
}

nav {

  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-bottom: 3em;
}

.button {
  background-color: #018b5a;
  border-radius: 10px;
  color: #ede9dd;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 16px;
  margin: 0 1em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #94d9d4;
  color: #fb9a93;
}


/* --------------------------------------------Body--------------------------------------------------- */

main {
  width: 90%;
  margin: 0 auto;
  background-color: #ede9dd;
  border-radius: 10px;
  padding: 30px 0;
  text-align: center;
  font-size: 0;
}

main img {
  width: 40%;
  padding: 20px;
  background-color: #94d9d4;
  border-radius: 10px;
}

main article {
  background-color: #94d9d4;
  border-radius: 10px;
  width:  40%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-top: 40px;
}

main article p {
  font-family: 'Arvo', serif;
  color: #e91133;
  font-size: 16px;
}

p:last-child {
  font-family: 'Arvo', serif;
  color: #e91133;
  font-size: 16px;
}

/* --------------------------------------------Our Story--------------------------------------------------- */

#ourInfo {
  margin-top: 0px
}

#ourInfo p:first-child {
  margin-bottom: 1em;
}

/* --------------------------------------------Our Recipe--------------------------------------------------- */

#recipe {
  margin-top: 0px
}

#recipe div p {
  font-size: 25px;
}

#recipe div img:first-child {
  width: 50%;
}

#recipe div p:last-child {
  font-size: 40px;
}

/* --------------------------------------------Location--------------------------------------------------- */


/* --------------------------------------------Contact Info--------------------------------------------------- */

#contactInfo {
  margin-top: 0px
}

label {
  font-family: 'Arvo', serif;
  color: #e91133;
  font-size: 16px;
}

#contactInfo p {
  line-height: 2;
}

/* --------------------------------------------Contact Info--------------------------------------------------- */

.employeeContent {
  background-color: #94d9d4;
  border-radius: 10px;
  width:  40%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  margin: auto;
  font-size: 25px;
}

.employeeContent:last-child {
  margin-left: 20px;
}

.employeeContent h3 {
  font-size: 25;
  line-height: 1.5;
}

/* --------------------------------------------Sale --------------------------------------------------- */

#sales header {
  margin: 10px;
  margin-bottom: 20px;
}

#sales header h1{
  display: inline-block;
  color: #e91133;
  font-size: 50px;
}

#sales header a {
  float: right;
}


table {
  border-collapse: collapse;
  line-height: 1.5;
  color:  #018b5a;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

th, td {
  border: 2px solid #ede9dd;
}

tbody tr:nth-child(odd) {
  background-color: #ede9dd;
}

tbody td:first-child {
  color:#e91133
}

tbody td:last-child {
  background-color: #94d9d4;
}

td:hover {
  background-color: greenyellow !important;
  color: black;
}

tr:hover {
  background-color: #018b5a;
  color: #fb9a93;
}

tr:hover td:last-child {
  background-color: #018b5a;
  color: #fb9a93;
}

tr:nth-child(odd):hover {
  background-color: #018b5a;
  color: #fb9a93;
}

tfoot {
  background-color: #94d9d4;
}